
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden; 
    background-color: #98540b; /*degrader with top image */

}

header {
    background-color: #FDF0EA;
    display: inline-flex;
    width: 100%;
}
.logo{
    margin-left: 10px;
    padding: 8px;
    width: 93px;
    height: 43px;
    margin: 12px;
    margin-right: 7%;
}
.login{
    padding: 1% 2%;
    margin-top: 1% ;
    margin-bottom: 1%;
}


ul {
    list-style-type: none;
    display: inline-flex;
    margin-top: 25px;
    gap: 30px;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: small;
transition: transform 0.2s;}

a:hover {
    color: #f28555;
    transform: scale(1.1);
}

button {
    background-color: #8b4513;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #fdfdfd; 
    color: rgb(255, 255, 255);
    padding: 12px 15px;
    font-size: medium;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #000;
    transform: scale(1.1);
}

.top-image {
    width: 100%;
    height: auto;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

/* surf section */
.surf-part,
.camelride-part,
.tour-part {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 6%;
}

.surf-images,
.camelride-images,
.tour-images {
    position: relative;
    flex: 1 1 50%;
}

.surf-image,
.camelride-image,
.tour-image {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #000000;
    object-fit: cover;
    margin-left: 5%;
}

.surfing-title,
.camelride-title,
.tour-title {
    position: absolute;
    bottom: 10%;
    left: 11%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.surf-btn,
.camelride-btn,
.tour-btn {
    position: absolute;
    bottom: 8%;
    right: 12%;

}

/* Desscription boxes */
.surf-description,
.camelride-description,
.tour-description {
    flex: 1 1 40%;
    background-color: #FDF0EA;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.prix,
.hotel,
.time {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f28555;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px #000000;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* footer */
.footer {
    background-color: #FDF0EA;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.footer-social {
    display: block;
    gap: 60px;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.media {
    display: flex;
}

.footer-logo {
    margin-top: 5%;
    margin-left: 10%;
    
}

.icon-social {
    position: relative;
    top: -16px;
}
h3{
    font-size: 14px;
    margin-top: 10%;
    font-style: italic;
}

/* ------------------------------------------------------------------ */

/* Responsive  */
@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: center;
    }
   body{
        gap: 30px;
        background-color: #9a560d; /*degrader with top image */
    }

    .surf-part,
    .camelride-part,
    .tour-part {
        flex-direction: column;
        align-items: center;
        margin-bottom: 14%;
    }

    .surfing-title,
.camelride-title
 {
    font-size: x-large;
}
.tour-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.surf-description,
.camelride-description,
.tour-description {
        width: 80%;
    }
.footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;  
}
.footer-logo {
    margin-top: 5%;
    margin-left: 0;
}
.footer-social {
    font-size: small;
    margin-top: 12%;
    display: flex;
    gap:2px;
}
}