body{
    margin : 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

 /* Dropdownn */
 nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    position: relative;
    display: inline-block;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FDF0EA;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
nav ul li:focus-within ul,
nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    display: block;
}
nav ul li ul li a {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: black;
}
nav ul li ul li a:hover {
    background-color: #ddd;
}

header {
    background-color: #FDF0EA;
    display: inline-flex;
    width: 100%;
}
.logo{
    margin-left: 10px;
    padding: 8px;
    width: 93px;
    height: 43px;
    margin: 12px;
    margin-right: 7%;
}
.login {
    display: inline-block;
    padding: 1% 2%;
    margin-top: 1% ;
    margin-bottom: 1%;  
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #f06529;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}


ul {
    list-style-type: none;
    display: inline-flex;
    margin-top: 25px;
    gap: 30px;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: small;
}



button {
    background-color: #8b4513;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000000; 
    color: rgb(255, 255, 255);
    padding: 12px 15px;
    font-size: medium;
    
}

button:hover {
    background-color: #000;
    transform: scale(1.1);
}

.image-contenaire{
    position : relative;
    display : inline-block;
    width: 100%;
}

.background-image{
    width: 100%; 
    height: 30%;
}

.word{
    position : absolute;
    top: 45%; 
    left: 35%; 
    color :white;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
}


#sec1{
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3%; 
}
#sec1 #liste2-3 {
    justify-self: flex-end;
}

#sec{
     background-color: rgb(252, 243, 229);
     width: 100%;
     height: 100%;
}

#sec2{
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3%;  
}
#sec2 #liste4-5 {
    justify-self: flex-end;
}

#sec3{
    display: flex;
    align-items: center;  
    justify-content: flex-start; 
    flex-wrap: wrap;
    margin-top: 3%; 
}
#sec3 #liste6-7 {
    justify-self: flex-end;
}

.images3 *{
    width: 32%;
    height: 100%;
}

.images2 *{
    width: 45%;
    height: 100%;
}


#liste2-3{
    background-color: rgb(154, 78, 24);
    color : white;
    display: flex;
    padding-top: 2.2%;
    padding-bottom: 2.2%;
    justify-content: space-evenly;
    width: 100%;
}

#liste4-5{
    background-color: rgb(154, 78, 24);
    color : white;
    padding-top: 6%;
    padding-bottom: 6%;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
   
}

#liste6-7{
    background-color: rgb(154, 78, 24);
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    
  
}

.footer{
    background-color: #FDF0EA;
    display:flex;
    padding: 20px;
    padding-right: 120px;
    justify-content: space-evenly;
}
.footer-social{
    text-align: center;
    gap: 10px;
}
.media{
    display: flex;
    align-items: center;
    gap: 10px;
}

.destination{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .destination{
        flex-direction: column;
    }
  }